<!-- ace settings handler -->
<script src="@routes.Assets.versioned("assets/js/ace-extra.min.js")"></script>

<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
<!--[if lte IE 8]>
    <script src='@routes.Assets.versioned("assets/js/html5shiv.min.js")' />
    <script src='@routes.Assets.versioned("assets/js/respond.min.js")'></script>
<![endif]-->


<!--[if !IE]> -->
<script src="@routes.Assets.versioned("assets/js/jquery-2.1.4.min.js")"></script>

<!-- <![endif]-->

<!--[if IE]>
    <script src='@routes.Assets.versioned("assets/js/jquery-1.11.3.min.js")' />
<![endif]-->

<script src="@routes.Assets.versioned("assets/js/bootstrap.min.js")"></script>


 <!-- ace scripts -->
<script src='@routes.Assets.versioned("assets/js/ace-elements.min.js")'></script>
<script src='@routes.Assets.versioned("assets/js/ace.min.js")' ></script>