<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ace Admin</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta charset="utf-8"/>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        @css()
        <!-- inline scripts related to this page -->
        <link rel="stylesheet" href='@routes.Assets.versioned("assets/kx/css/kx.css")'/>

    </head>

    <body class="no-skin">
        <div id="navbar" class="navbar navbar-default ace-save-state">
            <div class="navbar-container ace-save-state" id="navbar-container">
                <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                    <span class="sr-only">Toggle sidebar</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-header pull-left">
                    <a href="main.html" class="navbar-brand">
                        <small>
                            <i class="fa fa-leaf"></i>
                            kx Admin
                        </small>
                    </a>
                </div>

                <div class="navbar-buttons navbar-header pull-right" role="navigation">
                    <ul class="nav ace-nav">

                        <li class="light-blue dropdown-modal">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                <img class="nav-user-photo" src='@routes.Assets.versioned("assets/images/avatars/user.jpg")' alt="Jason's Photo"/>
                                <span class="user-info">
                                    <small>Welcome,</small>kx
                                </span>

                                <i class="ace-icon fa fa-caret-down"></i>
                            </a>

                            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                <li>
                                    <a href="#">
                                        <i class="ace-icon fa fa-cog"></i>
                                        Settings
                                    </a>
                                </li>

                                <li>
                                    <a href="profile.html">
                                        <i class="ace-icon fa fa-user"></i>
                                        Profile
                                    </a>
                                </li>

                                <li class="divider"></li>

                                <li>
                                    <a href="#">
                                        <i class="ace-icon fa fa-power-off"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
                <!-- /.navbar-container -->
        </div>

        <div class="main-container ace-save-state" id="main-container">
            <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

            <div id="sidebar" class="sidebar responsive ace-save-state">
                <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch (e) {
            }
        </script>

                <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                        <button class="btn btn-success">
                            <i class="ace-icon fa fa-signal"></i>
                        </button>

                        <button class="btn btn-info">
                            <i class="ace-icon fa fa-pencil"></i>
                        </button>

                        <button class="btn btn-warning">
                            <i class="ace-icon fa fa-users"></i>
                        </button>

                        <button class="btn btn-danger">
                            <i class="ace-icon fa fa-cogs"></i>
                        </button>
                    </div>

                    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                        <span class="btn btn-success"></span>

                        <span class="btn btn-info"></span>

                        <span class="btn btn-warning"></span>

                        <span class="btn btn-danger"></span>
                    </div>
                </div>
                    <!-- /.sidebar-shortcuts -->

                @sidebar()

                    <!-- 伸缩siderbar -->
                <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                    <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
                    data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
                </div>
            </div>

            <div class="main-content height600" id="content-main">
                <div class="main-content-inner auto-height">
                    <div class="page-content auto-height">
                        <div class="row auto-height">
                            <div class="col-sm-12 auto-height">
                                <div class="tabbable auto-height">

                                    <ul class="nav nav-tabs" id="tab-titles">
                                        <li class="active">
                                            <a data-toggle="tab" href="#home3">
                                                <i class="pink ace-icon fa fa-tachometer bigger-110"></i>
                                                Home
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content auto-height" id="tab-contents">

                                        <div id="home3" class="tab-pane in auto-height active">
                                            <p>这是首页</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <!-- /.col -->
                        </div>
                            <!-- /.row -->

                    </div>
                        <!-- /.page-content -->
                </div>
            </div>
                <!-- /.main-content -->

            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
            </a>
        </div>
        <!-- /.main-container -->
        @js()
        <script src='@routes.Assets.versioned("assets/kx/js/kx.js")'></script>
    </body>
</html>
