@(sideBars: List[SideBar])
<ul class="nav nav-list">

    @for(bar <- sideBars) {
        <li class="">
            <a href="@bar.href" class="dropdown-toggle"><i class="menu-icon fa fa-tag"></i>
                <span class="menu-text"> @bar.title </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
            @for(subBar <- bar.children) {
                <li class="" title="@subBar.title" id="sidebar_@subBar.id" href="@subBar.href">
                    <a href="@subBar.href">
                        <i class="menu-icon fa fa-caret-right"></i>
                        @subBar.title
                    </a>
                    <b class="arrow"></b>
                </li>
            }
            </ul>
        </li>
    }
</ul> <!-- /.nav-list -->